<script>
	export let headersData
	export let callback
	export let formRef
</script>

<style lang="scss">
	@import 'styles';

	$GRID_GAP: 3px;

	form {
		display: grid;
		grid-auto-flow: row;
		grid-gap: $GRID_GAP;

		div {
			display: grid;
			grid-auto-flow: column;
			grid-gap: $GRID_GAP;
		}
	}

	input {
		display: block;
		height: 50px;
		color: black;
		font-family: os_bold;
		text-indent: 3px;
		font-size: 16px;
		background: $SECONDARY;

		@media #{$MOBILE} {
			font-size: 13px;
		}

		&:focus {
			background: $ACTIVE;
		}

		&[type='submit'] {
			font-size: 20px;
			background: $PRIMARY;
			cursor: pointer;

			&:hover {
				@media #{$HOVER_SUPPORT} {
					background: $ACTIVE;
				}
			}
		}
	}
</style>

<form bind:this={formRef}>
	{#each Object.entries(headersData[0]) as [title, value]}
		{#if Boolean(parseFloat(value))}
			<div>
				<input
					data-type="num_min"
					data-key={title}
					type="number"
					name={`${title} min`}
					placeholder={`${title.toUpperCase()} MIN...`}
					maxLength={75}
					min="0"
					step="10" />
				<input
					data-type="num_max"
					data-key={title}
					type="number"
					name={`${title} max`}
					placeholder={`${title.toUpperCase()} MAX...`}
					maxLength={75}
					min="0"
					step="10" />
			</div>
		{:else}
			<input
				data-type="text"
				data-key={title}
				type="text"
				name={title}
				placeholder={`${title.toUpperCase()}...`}
				maxLength={75}
				autoComplete="off"
				autoCorrect="off"
				spellCheck={false} />
		{/if}
	{/each}
	<input type="submit" on:click|preventDefault={callback} value="SUBMIT" />
</form>
