<script>
	import { derived, writable } from 'svelte/store'
	import { location, replace } from 'svelte-spa-router'
	import Search from './Search.svelte'
	import Pagination from './Pagination.svelte'
	import {
		filterEntries,
		sortEntries,
		paginateEntries
	} from '../utils/dataProcessing'

	export let data

	// DATA PROCESSING
	let formRef // make binding for form param

	let processedData = writable(sortEntries.ascending(data, 'id')) // initial sorting

	function handleSorting(key) {
		processedData.set(sortEntries.alternate($processedData, key))
	}

	function handleFiltering() {
		const filters = [
			{
				fieldtype: 'text',
				condition: (x, el) =>
					x[el.dataset.key].toLowerCase().startsWith(el.value.toLowerCase())
			},
			{
				fieldtype: 'num_min',
				condition: (x, el) => x[el.dataset.key] >= parseFloat(el.value)
			},
			{
				fieldtype: 'num_max',
				condition: (x, el) => x[el.dataset.key] <= parseFloat(el.value)
			}
		]

		// Returns to first page after each filtering
		replace('/1')

		// Filter entries using custom filters, and sort them by id
		processedData.set(
			sortEntries.ascending(filterEntries(data, formRef, filters), 'id')
		)
	}

	// Creates store which fires pagination every time url or processedData changes
	const paginationData = derived(
		[processedData, location],
		([$processedData, $location]) => {
			const pageNumber = parseInt($location.replace(/^\/+/, ''))
			return paginateEntries($processedData, pageNumber, 20)
		}
	)

	$: ({ pagesTotal, currentPage, paginatedEntries } = $paginationData)

	// GRAPHICAL PROCESSING
	// Handle visibility of the form
	let isSearchVisible = false

	function searchVisibilityHandler() {
		isSearchVisible = isSearchVisible ? false : true
	}

	// Handle positioning of the search container
	let leftMarg
	let width

	function setDimensions(el) {
		function posHandler() {
			leftMarg = el.scrollLeft
			width = el.clientWidth
		}

		posHandler()

		// Neat experimental api xoxoxo
		const obs = new ResizeObserver(posHandler)

		obs.observe(el)
		el.addEventListener('scroll', posHandler)

		return {
			destroy() {
				obs.unobserve(el)
				el.removeEventListener('scroll', posHandler)
			}
		}
	}
</script>

<style lang="scss">
	@import 'styles';

	$TABLE_BORDER: 2px solid black;

	main {
		position: relative;
		width: 80%;
		margin: 20px 0px;
		left: 50%;
		transform: translateX(-50%);
		border: 5px solid black;
		border-radius: 10px;

		@media #{$MOBILE} {
			width: 92%;
		}
	}

	section {
		overflow-x: auto;
		background: black;
	}

	table {
		width: 100%;
		border-spacing: 0;
		text-align: center;
		font-size: 20px;

		@media #{$MOBILE} {
			font-size: 16px;
		}

		thead,
		tbody {
			td,
			th {
				padding: 7px;

				@media #{$MOBILE} {
					padding: 4px;
				}
			}
		}

		thead {
			tr {
				background: black;
			}

			th {
				position: relative;

				&:not(:last-child):after {
					content: '';
					position: absolute;
					right: 0px;
					top: 30%;
					height: 40%;
					border-left: 2px dotted white;
				}
			}
		}

		tbody {
			tr {
				background: $SECONDARY;

				&:nth-child(even) {
					background: $PRIMARY;
				}

				&:hover:not(#noResults) {
					@media #{$HOVER_SUPPORT} {
						background: $ACTIVE;
					}
				}
			}

			td {
				&:not(:last-child) {
					border-right: $TABLE_BORDER;
				}

				border-top: $TABLE_BORDER;
			}
		}

		td {
			padding: 0px;
			font-family: os_semibold;
		}

		th {
			color: white;
			cursor: pointer;
			font-family: os_bold;

			&:hover {
				@media #{$HOVER_SUPPORT} {
					color: $ACTIVE;
				}
			}
		}

		#noResults {
			td {
				padding: 20px;
				font-size: 22px;
				font-family: os_bold;
			}
		}
	}

	#chevron {
		cursor: pointer;
		padding: 4px;
		text-align: center;

		&:hover div {
			&:before,
			&:after {
				@media #{$HOVER_SUPPORT} {
					background: $ACTIVE;
				}
			}
		}

		div {
			$THICKNESS: 6px;

			display: inline-block;
			width: 120px;
			height: $THICKNESS;
			margin: $THICKNESS 0px;
			position: relative;
			text-align: center;

			&:before,
			&:after {
				content: '';
				position: absolute;
				top: 0;
				height: 100%;
				background: white;
			}

			&:before {
				left: 0;
				width: 51%;
			}

			&:after {
				right: 0;
				width: 50%;
			}
		}

		.pointDown {
			&:before {
				transform: skew(0deg, 6deg);
			}

			&:after {
				transform: skew(0deg, -6deg);
			}
		}

		.pointUp {
			&:before {
				transform: skew(0deg, -6deg);
			}

			&:after {
				transform: skew(0deg, 6deg);
			}
		}
	}

	// This fixes randomly appearing scrollbar when it's not needed
	#searchContainer {
		overflow: hidden;
	}
</style>

<main>
	<section use:setDimensions>
		<table>
			<thead>
				<tr>
					{#each Object.keys(data[0]) as key}
						<th on:click={() => handleSorting(key)}>{key.toUpperCase()}</th>
					{/each}
				</tr>
			</thead>

			<tr>
				<td colspan="100">
					<div
						style="margin-left: {leftMarg}px; width: {width}px;"
						id="searchContainer">
						<div style="display: {isSearchVisible ? 'block' : 'none'}">
							<Search
								headersData={data}
								callback={handleFiltering}
								bind:formRef />
						</div>
						<div id="chevron" on:click={searchVisibilityHandler}>
							<div class={isSearchVisible ? 'pointUp' : 'pointDown'} />
						</div>
					</div>
				</td>
			</tr>

			<tbody>
				{#if paginatedEntries.length}
					{#each paginatedEntries as row}
						<tr>
							{#each Object.values(row) as item}
								<td>{item}</td>
							{/each}
						</tr>
					{/each}
				{:else}
					<tr id="noResults">
						<td colspan="100">
							<div>NO SEARCH RESULTS</div>
						</td>
					</tr>
				{/if}
			</tbody>
		</table>
	</section>
	<Pagination {pagesTotal} {currentPage} />
</main>
